@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Playfair Display', serif;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

/*header section*/
.header_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* ממקם את הלוגו בצד והשאר מתפרס */
  width: 100%;
  height: 58px;
  z-index:1500;
  background: #160E0B;
  border: 1px solid #160E0B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  /* position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 69px;
  left: 0;
  top: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 1100;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px; */
}

.header_section .container-fluid {
  display: flex;
  display: flex;
  justify-content: space-evenly; /* מפזר את הפריטים על כל הרוחב */
  align-items: center;
  width: 100%;
  padding: 0;
    
  
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section.innerpage_header {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#160e0b), to(#160e0b));
  background: linear-gradient(to right, #160e0b, #160e0b);
  padding: 10px 0;
}

.custom_nav-container {
  display: flex;
  justify-content: space-evenly; /* מפזר את הפריטים על כל הרוחב */
  align-items: center;
  width: 100%;
  padding: 6vh;
    /* padding: 10px 5%; */
}

.menu ul li a {

  top: 17px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: 0.3s;

}
.custom_menu-btn {
  position: fixed;
  right: 25px;
  top: 15px;
  width: 50px;
  height: 50px;
}

.custom_menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  z-index: 7;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_menu-btn.menu_btn-style::before {
  width: 100vh;
  height: 100vh;
  background-color: #160e0b;
  -webkit-transform: scale(5);
          transform: scale(5);
  border-radius: 0;
}

.custom_menu-btn button {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 999;
  margin: 0;
}

.custom_menu-btn button span {
  display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.menu_btn-style button span {
  background-color: #ffffff;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
}

.overlay a:hover {
  color: #fd9c6b;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 99;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  margin-right: auto; /* מוודא שהלוגו יישאר בצד שמאל */
  font-size: 24px;
  font-weight: bold;
  color: white;
  
}
.navbar-collapse {
  
  flex-grow: 1; /* מבטיח שהתפריט יתפרס על כל הרוחב */
  display: flex !important; /* מונע שהאלמנט יוסתר בגלל Bootstrap */
  justify-content: center; /* ממרכז את הפריטים */
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  
}

/* עיצוב התפריט בדסקטופ */
.navbar-nav {
  display: flex;
  display: flex;
  justify-content: space-evenly; /* מפזר את הפריטים על כל הרוחב */
  align-items: center;
  width: 100%;
  padding: 0;
  ;
}

.navbar-nav .nav-item {
  display: flex;
  justify-content: space-evenly; /* מפזר את הפריטים על כל הרוחב */
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
  z-index: 3;
}

/*mobile adjusment*/
@media (max-width: 844px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* מונע גלילה אופקית */
  }
  .navbar-brand {
    display: none;
    box-shadow: none;
  }
  .header_section {
    background-color: transparent !important;
    border: none !;
    box-shadow: none !important;
    box-shadow: none;
    border-color: transparent!important ;
  }
  .collapse navbar-collapse{
    background-color: transparent !important;
    box-shadow: none !important;
    box-shadow: none;
    border-color: none!important ;
  }
  
 /* עיצוב כפתור תפריט ההמבורגר */
.hamburger-menu {
  position: fixed;
  list-style: none; /* מסיר את הנקודות */
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  z-index: 5;
}

/* קווים של אייקון ההמבורגר */
.hamburger-menu span {
  display: block;
  width: 18px;
  height: 3px;
  background: black;
  margin: 4px 0;
  transition: 0.3s;
}
 



/* עיצוב תפריט ההמבורגר */
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* תופס את כל הרוחב */
  height: 100vh; /* תופס את כל הגובה */
  background-color: black;
  display: none; /* בהתחלה מוסתר */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1500;
}

.mobile-nav.active {
  display: flex; /* מציג את התפריט כשהוא פעיל */
  z-index: 6;
}
.mobile-nav.active {
  transform: translateX(0);
}

/* עיצוב כפתור הסגירה */
.close-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  
}
/* עיצוב רשימת הקישורים בתוך תפריט ההמבורגר */
.mobile-nav ul {
  list-style: none; /* מסיר את הנקודות */
  padding: 0;
  text-align: center;
}

/* פריטי התפריט */
.mobile-nav ul li {
  font-size: 25px; /* טקסט ברור ונוח */
  padding: 15px 0;
}

/* קישורים בתפריט */
.mobile-nav ul li a {
  color: white !important; /* משנה את הצבע ללבן */
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
}
/* הסתרת הכפתור בדסקטופ */
@media (min-width: 768px) {
  .hamburger-menu {
      display: none;
      
  }
  .mobile-nav { 
    display: none !important; /* הסתרת התפריט הרגיל במחשב */
  }
}
@media (max-width: 768px) {
  .navbar-nav { 
    display: none !important; /* הסתרת התפריט הרגיל במובייל */
  }
}
/*end header section*/
/* slider section */
.slider_section {
  display: flex;
  justify-content: center; /* יישור אופקי */
  align-items: center;  /* יישור אנכי */

  height: 100vh;
  width: 100vw;
  text-align: center;
  
;
  z-index: 1;
 
}
.container {
  display: flex;
  flex-direction: column;  /* מבטיח שהתוכן יסתדר כעמודה */
  justify-content: center; /* ממרכז את האלמנטים אנכית */
  align-items: center;  /* ממרכז אופקית */
  width: 100%;
  max-width: 1200px;  /* לא נותן לו להיות רחב מדי */
  margin: 0 auto;  /* מבטיח שהוא במרכז הדף */
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
 

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 100%;  נותן לרוחב להשתנות לפי המסך 
  max-width: 60vw; כדי שהתוכן לא יהיה רחב מדי
  color: #ffffff;
  position: relative;
  z-index: 4; */
  width:100%; /* נותן לרוחב להשתנות באופן טבעי */
  max-width: 60vw; /* מבטיח שהתוכן לא יהיה צר מדי */
  color: #ffffff;
  /* text-align: center;
  position: relative; */
  margin: auto;

}

.slider_section .detail-box h1 {
  font-family: 'Inter', sans-serif;
  font-size: 4vw; /* גודל פונט יחסי לרוחב המסך */
  max-width: 80%;
 
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  max-width: 80%;
}

.slider_section .detail-box p {
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
  max-width: 80%;
  margin-bottom: 2vh;
  

}


.slider_section .detail-box .slider-link {

  display: inline-block;
  padding: 1.2vh 3.5vw;
  background: #CF5748;
  border: 1px solid #CF5748;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
  color: white;
  border-radius: 0.5vw;
  
  transition: 0.3s;
  font-size: 1.5vw;


}

.slider_section .detail-box .slider-link:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
  overflow: hidden;
}

.slider_section .slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}



/*  רספונסיביות למסכים קטנים */
@media (max-width: 768px) {
  
  .slider_section {
    position: relative;
  margin-top: -16%; 
    width: 100vw; 
    height: 30%; 
    padding-top: 0; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 30%; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    box-shadow: #9c9c9c;
  }

  .slider_section .detail-box {
    max-width: 90%;
    height: 10%;
    margin: 0 auto;
  }

  .slider_section .detail-box h1 {
    font-size: 10px !important;
   
    margin-bottom: 10px;
    
  }

  .slider_section .detail-box p {
    font-size:  10px !important;
  }


  .slider_section .slider_bg_box {
    width: 100vw; /* רוחב מלא של המסך */
    height: 100%; /* גובה מלא של המסך */
    position: absolute ;
    top: 0;
    left: 0;
    object-fit: cover; /* מבטיח שהתמונה תמלא את השטח */
    object-position: center; /* ממקם את התמונה במרכז */
    box-shadow: #9c9c9c !important;
  }
  
  .countdown-timer {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;  /* מבטיח שהתוכן יסתדר כעמודה */
    justify-content: center; /* ממרכז את האלמנטים אנכית */
    align-items: center;  /* ממרכז אופקית */
    width: 100%;
    margin: 0 auto;  /* מבטיח שהוא במרכז הדף */
  }
  .slider_section .detail-box .slider-link {

    display: inline-block;
    padding: 0.5vh 2vw; /* מעט יותר רוחב */
    background: #CF5748;
    border: 1px solid #CF5748;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
   
    transition: 0.3s;
    font-size: 1rem; /* שינוי ליחידה עקבית */
    text-align: center;
    white-space: nowrap; /* מונע ירידת שורה */

font-weight: 400;
font-size: 7px;
line-height: 8px;
text-align: center;

color: #FFFFFF;


  }


}

/*shop center*/
.shop_section .heading_container {
  margin-bottom: 10%;
}
.shop_section .row {
  display: flex;
  flex-wrap: wrap; /* מבטיח שהפריטים יעברו לשורה חדשה אם אין מקום */
  justify-content: center;
  
  
}
.shop_section .container {
  max-width: 65%; /* רוחב מקסימלי של הקונטיינר */
  margin:  auto; /* ממרכז את הקונטיינר במסך */
  padding:  20px; /* ריווח פנימי למניעת הידבקות לקצוות */
}

/*  */
.shop_section .col-lg-4{
  
  padding-left: 0%;
  
}
/* אם יש רק 2 פריטים בשורה האחרונה – תופסים את כל הרוחב */
.shop_section .row > .col-lg-4:nth-last-child(2):nth-child(odd),
.shop_section .row > .col-lg-4:nth-last-child(2):nth-child(odd) + .col-lg-4 {
  flex: 1 1 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  /* הופך את רשימת המוצרים לסליידר נגלל */
  .shop_section .row {
    display: flex;
    flex-wrap: nowrap; /* מונע מעבר לשורות */
    overflow-x: auto; /* מאפשר גלילה אופקית */
    scroll-snap-type: x mandatory; /* גלילה חלקה */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    scrollbar-width: none; /* מסתיר את פס הגלילה בדפדפנים תומכים */
  }
  .shop_section .box {
    aspect-ratio: 1 / 1; /* מבטיח שהתיבה תהיה ריבועית */
    height: auto; /* התאמה דינמית של הגובה */
    max-height: 220px; /* התאמה ידנית לגובה */
  }
  /* מסתיר את פס הגלילה בכרום */
  .shop_section .row::-webkit-scrollbar {
    display: none;
  }

  /* מגדיר את כל מוצר כאלמנט שמתאים לרוחב המסך */
  .shop_section .col-lg-4 {
    flex: 0 0 20%; /* כל מוצר יתפוס 80% מרוחב המסך */
    max-width: 50%;
    scroll-snap-align: center; /* ממקם כל פריט באמצע */
  }

  /* הופך את התגית של ה"חדש" לריבוע */
  .shop_section .new {
    border-radius: 0; /* מסיר עיגול מהתגית */
    padding: 5px 8px;
    font-size: 12px;
  }
  .shop_section .box .img-box {
    height: 80% !important; /* מוודא שהתמונה תתפוס את רוב התיבה */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  /* אפקט כהה בעת מעבר עם העכבר */
  .shop_section .box:hover .img-box img {
    filter: brightness(0.7); /* מחשיך את התמונה */
  }

  /* התאמת כפתור ה-"View All Products" */
  .shop_section .btn-box {
   
width: 180px;
height: 40px;
left: calc(50% - 146px/2 + 15px);
top: 648px;

background: #CF5748;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
white-space: nowrap;
  }


}


.shop_section .box {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;

margin-right:0.1% ;
  margin-bottom: 4%;
  
}
.shop_section .box:hover {
  background-color: #ababab;
  position: relative;
  padding: 10px;
  margin-left:0.1% ;
  
    margin-bottom: 4%;
}


.shop_section .box a {
  color: #000000;
}

.shop_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  height: 245px;
}

.shop_section .box .img-box img {
  max-width: 50%;
  max-height: 145px;
}

.shop_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
  color: #fd9c6b;
}

.shop_section .box .new {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border-radius: 100%; */
  font-size: 15px;
}

.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #CF5748;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #CF5748;
  box-shadow: #0c0c0c;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}


#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px; /* גודל החץ */
  color: black; /* צבע החץ */
  border: 2px solid transparent;
}
#back-to-top:hover {
  background-color: #c5c5c5;
  color: white; 
  transform: scale(1.1); /* הגדלה קלה בעת מעבר עכבר */
  background-color: rgba(240, 240, 240, 0.95); /* שינוי צבע רקע בעת ריחוף */
}
.countdown-timer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fd9c6b;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  z-index: 1000;

    height: 40px;
}



#back-to-top:hover {
  background-color: #160e0b;
}



.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  padding: 25px 0 0 25px;
}

.about_section .img-box img {
  width: 100%;
  position: relative;
}

.about_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: #160e0b;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.offer_section .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.offer_section .box {
  margin: 10px;
  height: 100%;
  position: relative;
  min-height: 175px;
}

.offer_section .box img {
  width: 100%;
  min-height: 100%;
}

.offer_section .box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.offer_section .box .detail-box h2 {
  font-weight: bold;
}

.offer_section .box .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: transparent;
  color: #fd9c6b;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 10px;
}

.offer_section .box .detail-box a:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.offer_section .box.offer-box1 {
  min-height: 225px;
}

.offer_section .box.offer-box1 .detail-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offer_section .box.offer-box1 .detail-box h2 {
  font-size: 3rem;
}

.offer_section .box.offer-box2 .detail-box h2, .offer_section .box.offer-box3 .detail-box h2 {
  font-size: 2rem;
}

.offer_section .box.offer-box2 .detail-box {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer_section .box.offer-box3 .detail-box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.blog_section {
  position: relative;
  margin-top: -25vh;  /* מזיז את הבלוג למעלה כך שחלק ממנו נכנס לתוך `slider_section` */
  z-index: 7;  /* מוודא שהוא נשאר מעל */
 
 
}
.full-text {
  display: none; /* מתחבא בהתחלה */
}
.blog_section .container {
  position: relative !important;
  max-width: 70%; /* רוחב מקסימלי של הקונטיינר */
  margin: 0 auto; /* ממרכז את הקונטיינר במסך */
 
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 900px) {
  .blog_section{
    position: relative !important;
    
    max-width: 100%;
    margin-top: -10vh;  /* מזיז את הבלוג למעלה כך שחלק ממנו נכנס לתוך `slider_section` */
    
    flex-direction: column;
    align-items: center;
    
  }
  .blog_section .container {
    /* width: 95%; מגדיל את הקונטיינר לכל הרוחב */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .blog_section .row {
    display: flex; /* שימוש בפלקסבוקס במקום גריד */
    flex-wrap: wrap; /* מאפשר למאמרים לרדת למטה */
    justify-content: center; /* ממרכז את האלמנטים */
    gap: 2%;
    width: 100% !important; /* רוחב מלא */
    padding: 0 !important;
  }

  .blog_section .col-md-6 {
    flex: 0 0 48%; /* כל פריט תופס חצי מרוחב השורה */
    max-width: 100% !important;
    padding: 0% !important;
  }

  .blog_section .box {
    width: 100%;
   
    background-color: #F1F2F4;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px; 
  }

  .blog_section .box .img-box {
    width: 100%; /* מתאים את התמונה לרוחב הקופסה */
    display: flex;
    justify-content: center;
  }
  
  .blog_section .box .img-box .blog_date {
    font-size: 0.9vw !important; 
    padding: 5px !important;
    position: absolute;
   
    left: 2px !important;
    background-color: #160e0b;
    color: white;
   
  }
  .blog_section .box .detail-box {
    padding: 5px !important;
  }
  .blog_section .box .detail-box h5 {
    font-size: 1.2vw; /* גודל יחסי שקטן עם המסך */
    font-weight: bold;
  }
  .blog_section .box .detail-box p {
    font-size: 1vw !important; /* מקטין תיאור */
    margin-bottom: 5px !important;
 
  }

  .read-more-btn {
    font-size: 1vw  !important;
    padding: 6px 12px  !important;
    border-radius: 3px  !important;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all 0.3s ease;
   /* Read More */



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 6px !important;
line-height: 7px;

color: #0C0C0C;





border: 0.5px solid #000000 !important;
filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) !important;


    
  }

  .read-more-btn:hover {
    background-color: black;
    color: white;
  }

}

.read-more-btn {
  background-color: white; 
  color: black;
  border: 2px solid black; 
  border-radius: 20px;
  padding: 8px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.read-more-btn:hover {
  background-color: black;
  color: white;
}



.read-more-btn:hover {
  color:#fd9c6b;
}

.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
   background-color: #F1F2F4;
box-shadow: 0px 4px 4px 0px #00000040;
  
   
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: -15px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #160e0b;
  margin: 0;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 10px;
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  color: #160e0b;
  border-radius: 0;
  border: 1px solid #160e0b;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog_section .box .detail-box a:hover {
  background-color: #160e0b;
  color: #ffffff;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px;
  padding: 35px 25px;
  border-radius: 15px;
  background-color: #160e0b;
  color: #ffffff;
}

.client_section .box .img-box {
  margin-bottom: 15px;
  min-width: 145px;
  max-width: 145px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
  border: 7px solid rgba(255, 255, 255, 0.45);
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #fd9c6b;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #fd9c6b;
  background-position: center;
  border-radius: 5px;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #160e0b;
}

.client_section .carousel-control-next {
  left: initial;
}

.info_section {
  background-color: #160e0b;
  color: #ffffff;
}

.info_section .info_form_social_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.info_section .info_form {
  width: 100%;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info_section .info_form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #fd9c6b;
}

.info_section .info_form form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::placeholder {
  color: #9c9c9c;
}

.info_section .info_form form button {
  background-color: transparent;
  color: #fd9c6b;
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 15.5px 25px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.info_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
}

.info_section .social_box a:hover {
  color: #fd9c6b;
  border-color: #fd9c6b;
}

.info_section h4 {
  margin-bottom: 15px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
}

.info_section .info_links .info_links_menu a:not(:nth-last-child(1)) {
  margin-bottom: 10px;
}

.info_section .info_links .info_links_menu a:hover {
  color: #fd9c6b;
}

.info_section .info_insta .insta_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_insta .insta_box .img-box {
  width: 65px;
  min-width: 65px;
  height: 65px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
}

.info_section .info_insta .insta_box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.info_section .info_insta .insta_box p {
  margin: 0;
}

.info_section .info_insta .insta_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}

.info_section .info_contact a:hover:hover {
  color: #fd9c6b;
}



/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
@media (max-width: 900px) {
  .footer_section {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
  }
  .footer_section p {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
  }
  .footer_section p a {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
  }
}

.slider_bg_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* שכבת הצל */
.slider_bg_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* משנה את הכהות של הצל */
  pointer-events: none; /* מוודא שלא ניתן ללחוץ עליו */
}

/* התאמה למובייל */
@media (max-width: 768px) {
  .slider_bg_box::after {
    background: rgba(0, 0, 0, 0.5); /* במובייל הצל יהיה מעט כהה יותר */
  }
}

/*# sourceMappingURL=style.css.map */